PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

MONGO_URI=mongodb://syncboard_admin:syncboard_secret_password@localhost:27017/syncboard?authSource=admin

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=dev_jwt_secret_key_change_in_production_32chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=dev_refresh_secret_key_change_in_production_32chars
JWT_REFRESH_EXPIRES_IN=7d

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=my-unique-app-uploads-2026
AWS_REGION=us-east-1
